@media screen and (max-width: 962px) {
    /*Benefits styles start*/

    .benefits__cards {
        padding: 32px 0 0 15px;
    }

    /*Benefits styles end*/

    /*Places styles start*/

    .places__cards-row {
        margin-bottom: 0;
    }
    .places__cards-img-size-lg, .places__cards-img-size-sm  {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    /*Places styles end*/

    /*Tours styles start*/
    .tours__row > .tours__img-wrapper, .tours__row > .tours__info {
        flex: 0 0 50%;
    }
    .tours__row .tours__info {
        padding-top: 0;
        padding-left: 15px;
        min-height: 1px;
    }
    .tours_info-title, .tours__info-desc {
        margin-bottom: 15px;
    }

    /*Tours styles end*/

    /*Locations styles start*/

    .locations__card {
        flex: 0 1 41.7%;
    }

    /*Locations styles end*/

    /*Footer styles start*/

    .footer {
        padding: 60px 0;
    }
    .footer__menu {
         /*flex-basis: 33%;*/
     }

    /*Footer styles end*/
}

@media screen and (max-width: 891px) {
    /*Intro styles start*/
    .search-form__submit {
        margin-top: 20px;
    }
    /*Intro styles end*/
}

@media screen and (max-width: 767px) {
    /*Header styles start*/
    .header__burger {
        display: block;
        cursor: pointer;
    }
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .3s linear;
    }
    .header__nav-active {
        transform: translateX(0);
    }
    .header__menu-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__menu-item:last-child {
        margin-bottom: 0;
    }
    .header__menu-link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__menu-link::after {
        content: "";
        top: 50px;
    }
    .header__nav-close {
        display: block;
        position: absolute;
        top: 32px;
        right: 25px;
        color: #fff;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 55px;
        cursor: pointer;
        z-index: 11;
    }
    .header__wrapper {
        padding-top: 20px;
    }
    /*Header styles end*/

    /*Benefits styles start*/

    .benefits__card {
        flex-basis: 100%;
    }
    .benefits__title {
         padding: 55px 15px;
     }

    /*Benefits styles end*/

    /*Intro styles start*/

    .intro {
        padding-top: 125px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 48px;
    }
    .intro__subtitle {
        font-size: 14px;
    }

    .search-form__field {
        width: 100%;
        margin-bottom: 20px;
        background-position-y: 3px;
        padding-bottom: 14px;
        margin-right: 0;
    }
    .search-form__field::placeholder {
        font-size: 16px;
        font-weight: 500;
        color: white;
    }
    .search-form__submit {
        width: 100%;
    }

    /*Intro styles end*/


    /*Tours styles start*/
    .tours__row > .tours__img-wrapper, .tours__row > .tours__info {
        flex-basis: 100%;
        padding-left: 0;
    }
    .tours__row {
        flex-wrap: wrap;
    }
    .tours__img-wrapper {
         margin-bottom: 15px;
     }

    /*Tours styles end*/

    /*Locations styles start*/

    .locations__card {
        flex: 0 1 100%;
    }

    .locations__card-stats {
        max-width: 386px;
    }

    /*Locations styles end*/

    /*Footer styles start*/

    .footer__logo {
        margin-bottom: 35px;
    }
    .footer__nav {
        flex-basis: 100%;
    }
    .footer__menu:not(:last-child) {
        margin-right: 3px;
    }


    /*Footer styles end*/
}

@media screen and (max-width: 360px) {
    /*Footer styles start*/
    .footer__nav {
        justify-content: space-around;
    }
    .footer__menu {
        flex-basis: 37%;
    }
    .footer__menu:nth-child(2) {
        text-align: right;
    }
    .footer__menu:last-child {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-basis: 100%;
    }
    .footer__menu:last-child .footer__menu-item:first-child, .footer__menu:last-child .footer__menu-link{
        display: none;
    }
    .footer__menu:last-child .footer__menu-link-ico {
        display: block;
        text-align: center;
    }


    /*Footer styles end*/

}

