/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2px;
    font-weight: normal;
    color: #102746;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header styles start*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #114fa1;*/
    z-index: 10;
    padding-bottom: 20px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.header__active {
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    background: rgb(14,29,40);
    /*background: linear-gradient(180deg, rgba(14,29,40,1) 54%, rgba(14,29,40,0.773622828037465) 100%);*/
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding-top: 56px;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header__menu > .header__menu-item:not(:last-child) {
    margin-right: 82px;
}

.header__menu-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: white;
    position: relative;
}

.header__menu-link::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 2px;
    background: white;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 25px;
    right: 0;
    opacity: 0;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.header__menu-link:hover, .header__menu-link:focus, .header__menu-link:active{
    opacity: 0.7;
}

.header__menu-link:hover::after, .header__menu-link:focus::after, .header__menu-link:active::after{
    width: 100%;
    opacity: 1;
}

.header__burger, .header__nav-close {
    color: white;
    font-size: 3rem;
    display: none;
}

/*Header styles end*/

/*Intro styles start*/

.intro {
    min-height: 963px;
    background: url("/img/intro-bg-min.jpg") fixed no-repeat center;
    background-size: cover;

    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro__subtitle {
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search-form__field {
    background: transparent url('/img/svg/circle-icon.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__field::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__field::-moz-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__field:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__field::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__field::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.search-form__submit {
    padding: 15px 30px;
    text-transform: uppercase;
    color: white;
    background: #1B7DFF;
    font-weight: 500;
    font-size: 24px;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #114fa1;
}
/*Intro styles end*/


/*Benefits styles start*/
.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1262px;
    background-color: white;
    margin:  0 auto;
    -webkit-box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-96%);
    -ms-transform: translateY(-96%);
    transform: translateY(-96%);
    background-color: white;
}

.benefits__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 32px 100px 0 100px;

}

.benefits__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 112px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.benefits__card-pic {
    margin-bottom: 37px;
    max-width: 66px;
    height: 66px;
}

.benefits__card-thumb {
    display: block;
    max-height: 100%;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;

}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;

}

.benefits__card-learn-more, .places__view-all, .tour__more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-transform: uppercase;
    text-decoration: none;
}

.benefits__card-learn-more::after, .places__view-all::after, .tour__more::after {
    content: "";
    display: inline-block;
    width: 33px;
    height: 8px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat;
    margin-left: 26px;
    position: relative;
    top: -2px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.benefits__card-learn-more:hover::after {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}
/*Benefits styles end*/

/*Places styles start*/

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 36px;
}

.section__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding-bottom: 10px;
    position: relative;
}

.section__title::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 253px;
    background: #006DFE;
    position: absolute;
    left: 0;
    bottom: 0;
}

.places__view-all:hover,  .tour__more:hover {
    opacity: .6;
}

.places__cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.places__cards-row:last-child {
    margin-bottom: 0;
}

.places__cards-img-size-lg {
    -ms-flex-preferred-size: 49.7%;
    flex-basis: 49.7%;
}

.places__cards-img-size-sm {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.places__cards-img-wrapper {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}

.places__cards-img-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(21, 24, 36, 0.4);
}

.places__cards-img-size-lg > img {
    height: 354px;
}

.places__cards-img-size-sm > img {
    height: 283px;
}

.places__cards-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.places__cards-img-wrapper:hover .places__cards-img{
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.places__cards-img-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

/*Places styles end*/


/*Tours styles end*/

.tours {
    margin-bottom: 139px;
}

.tours__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 77px;
}

.tours__row:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.tours__row .tours__info {
    padding-left: 47px;
}

.tours__row:last-child {
    margin-bottom: 0;
}

.tours__row > .tours__img-wrapper, .tours__row > .tours__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45.7%;
    flex: 0 0 45.7%;
}

.tours__info {
    /*border: 1px solid darkslategrey;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 279px;
}

.tours_info-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tours__info-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tours__img-wrapper {

}

/*Tours styles end*/

/*Locations styles start*/
.locations {
    margin-bottom: 75px;
}

.locations__title {
    margin-bottom: 54px;
}

.locations__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.locations__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 28.9%;
    flex: 0 1 28.9%;

    min-width: 200px;
    margin-bottom: 69px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*padding: 0 28px;*/
}

/*.locations__card:nth-child(2), .locations__card:nth-child(5) {*/
/*margin: 0 57px;*/
/*}*/

.locations__card-img-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 45px;
}

.locations__card-thumb {
    -o-object-fit: cover;
    object-fit: cover;
    /*width: 100%;*/
    /*height: 377px;*/
}

.locations__card-stats {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: white;
    padding: 16px 25px;
}

.locations__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-right: auto;
}

.locations__card-likes, .locations__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
}

.locations__card-likes {
    background: url("/img/svg/heart-ico.svg") no-repeat right;
    margin-right: 14px;
}

.locations__card-comments {
    background: url("/img/svg/comment-ico.svg") no-repeat right;
}

.locations__card-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
    width: 100%;
}

.locations__card-more {
    padding: 12px 19px;
    text-transform: uppercase;
    color: white;
    background: #1B7DFF;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    width: 118px;
}

.locations__card-more:hover {
    background: #114e9f;
}


/*Locations styles end*/

/*Videos styles start*/
.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}

.video__item {
    padding-top: 47%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*Videos styles end*/
/*Footer styles start*/

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__logo, .footer__nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__menu-item {
    padding-bottom: 5px;
}

.footer__menu-title, .footer__menu-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.footer__menu-link {
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.footer__menu:last-child .footer__menu-link-ico {
    color: white;
    font-size: 35px;
    /*margin-right: 20px;*/
    display: none;
}

.footer__menu-item:last-child > .footer__menu-link-ico:last-child {
    /*margin-right: 0;*/
}

.footer__menu:last-child .footer__menu-link-ico:hover {
    color: #aab9c4;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: 0.75;
}

/*Footer styles end*/

